/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/* Base Website Styles */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
    --primary-color: #f6f5f0;
    --secondary-color: #324943;
    --tertiary-color: #483b3c;
    --tertiary-color-lighter: #8d7577;
    --tertiary-color-lightest: #c7bbbc;
}
body {
    background-color: var(--primary-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-color);
}
main {
    margin-top:0;
    margin-left: 50px;
    margin-right: 50px;
    padding:25px;
    text-align:center
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 100px;
}
a {
    color: var(--tertiary-color);
}
a:visited {
    color: var(--tertiary-color-lighter);
}
a:hover, a:focus {
    /* Underline when hovering over a link */
    text-decoration: underline;
}
a:active {
    color: var(--tertiary-color-lightest);
    opacity: 0.5;
}
button,
.button {
    border: none;
    display:inline-block;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--tertiary-color-lightest);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border-bottom:2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

/* Header Styles */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:20px;
}
.menubar {
    list-style-type: none;
    padding-left: 20px;
}
@media all and (max-width: 300px){
    .menuitem {
        display: inline-block;
        padding:2px;
        font-size: 10px;
    }
    .logo {
        border-radius: 30%;
        height:50px;
        width: 50px;
    }
}
@media all and (min-width:300px) and (max-width: 400px) {
    .menuitem {
        display: inline-block;
        padding:5px;
        font-size: 12px;
    }
    .logo {
        border-radius: 30%;
        height:50px;
        width: 50px;
    }
  }
@media all and (min-width:400px) and (max-width: 600px) {
    .menuitem {
        display: inline-block;
        padding:10px;
        font-size: 14px;
    }
    .logo {
        border-radius: 30%;
        height:70px;
        width: 70px;
    }
  }
  @media all and (min-width: 600px){
    .menuitem {
        display: inline-block;
        padding:20px;
        font-size: 16px;
    }
    .logo {
        border-radius: 30%;
        height:75px;
        width: 75px;
    }
  }
.active-page {
    /* Underline link when page is active */
    text-decoration: underline;
}
.inactive-page {
    text-decoration: none;
}

/* Home Page Styles */

.profile {
    max-width: 700px;
    margin: 0 auto;
}
.profile__portrait {
    border-radius: 100%;
    width: 250px;
    float: left;
    margin-right: 20px;
}
.profile__text {
    float: right;
    margin-left: 20px;
    margin-top: 75px;
    margin-bottom: auto;
    text-align: center;
}

/* About Page Styles */

.hometown-img {
    width: 100%;
    height: 100%;
}
@-webkit-keyframes clouds-one_move {
    from {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
    to {
        -webkit-transform: translate(20px,0px);
                transform: translate(20px,0px);
    }
}
@keyframes clouds-one_move {
    from {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
    to {
        -webkit-transform: translate(20px,0px);
                transform: translate(20px,0px);
    }
}
@-webkit-keyframes clouds-two_move {
    from {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
    to {
        -webkit-transform: translate(10px,0px);
                transform: translate(10px,0px);
    }
}
@keyframes clouds-two_move {
    from {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
    to {
        -webkit-transform: translate(10px,0px);
                transform: translate(10px,0px);
    }
}
.clouds-one {
    -webkit-animation: 10s clouds-one_move infinite alternate linear;
            animation: 10s clouds-one_move infinite alternate linear;
}
.clouds-two {
    -webkit-animation: 15s clouds-two_move infinite alternate linear;
            animation: 15s clouds-two_move infinite alternate linear;
}
@-webkit-keyframes sun-ray_wiggle {
    0% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
    50% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
    100% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
  }
@keyframes sun-ray_wiggle {
    0% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
    50% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
    100% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
  }
.sun-ray {
    -webkit-animation-name: sun-ray_wiggle;
            animation-name: sun-ray_wiggle;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes sun-ray_wiggle-two {
    0% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
    50% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
    100% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
  }
@keyframes sun-ray_wiggle-two {
    0% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
    50% {
        -webkit-transform: rotate(.05deg);
                transform: rotate(.05deg);
    }
    100% {
        -webkit-transform: rotate(-.05deg);
                transform: rotate(-.05deg);
    }
  }
.sun-ray_two {
    -webkit-animation-name: sun-ray_wiggle-two;
            animation-name: sun-ray_wiggle-two;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.hobbies {
    list-style-type: none;
    padding:0;
}

/* Work Page Styles /*

/* start grid fallback */
.project-grid__item {
    display: inline-block;
    width: 33%;
   }
/* end grid fallback */
.project-grid {
    display:-ms-grid;
    display:grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:0;
    padding-top: 50px;
}
.project-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    grid-row:1;
    -ms-grid-column: 1;
    grid-column:1;
}
.project-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    grid-row:1;
    -ms-grid-column: 2;
    grid-column:2;
}
.project-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    grid-row:1;
    -ms-grid-column: 3;
    grid-column: 3;
}
.project-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
}
.project-grid > *:nth-child(5) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
}
.project-grid > *:nth-child(6) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
}
.project-grid__item {
    background-color: var(--tertiary-color-lightest);
    width:auto;
    min-height: auto;
    margin-right:20px;
    margin-bottom:20px;
}
@supports (grid-gap: 20px) {
    .project-grid {
        grid-gap: 20px;
    }
    .project-grid__item {
        margin: 0px;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .project-grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px) {
  .project-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 750px){
  .project-grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
}
.skills-table {
    margin-left: auto;
    margin-right:auto;
    border: var(--secondary-color) dotted;
    text-align: center;
    padding: 10px;
}
th .skillstable {
    text-decoration: underline;
    padding: 5px;
}
 /* Contact Page Styles */

.required {
    color:crimson;
}
.error-message {
    color:crimson;
    font-size: 12px;
}
.error-input{
    background-color: rgba(220, 20, 60, 0.2);
}
